<!DOCTYPE html>
<html>
  <head>
    <title>Bun Fight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
        <!-- Nav bar-->
        <div class="header centerdiv">
            <img src="bread-logo.png">
            <h1>Bun Fight!</h1>
              <a href="/index.html.erb">Fight</a>
              <a href="#elsewhere">Join the fight</a>
              <a href="/about.html">About</a>
        </div>

        <!-- Magic Box-->
        <div class="box1">
          <div class="centerdiv paddingdiv">
            <div class="centerdiv ">
              <h3>Let's get ready to rumble</h3>
            </div>
            <div>
              <%= yield %>
            </div>
          </div>  
        </div>

        <!-- About Bunfight -->
        <div class="centerdiv">
          <h3 class="paddingdiv">Time out! Why is everyone fighting?</h3>
          <p class="smallpadding"><strong>Bun Fight</strong> is a project that hopes to end all pedantic-pub debates that argue the correct name for  'What is that small peice of bread - the one that just fits in your hand <em>really</em> called?' 
          <br>
          People all over the UK call it all sorts of different things, there's no wrong answer so we've started a database that'll tell you the most common name in your area.
          <br>
          Bun Fight will automatically locate you and search through its database to find the most common bread name in your area.
          <br>
          Don't see your prefered carby-colloquialism? Fill out the form below and add your name into the ring!
          </p>
        </div>


        <!-- Form-->
        <div class="box2">
        <div class="centerdiv paddingdiv">
          <h2 class="smallpadding">Join the fight</h2>
          <form class="form-inline">
            <div class="form-group">
              <label for="location">Where I'm from in </label>
              <input type="location" class="form-control" id="location" placeholder="City / Town / Village">
            </div>
            <div class="form-group">
              <label for="bread_name">It's called a </label>
              <input type="bread_name" class="form-control" id="bread_name" placeholder="Bun / Bap / Cob">
            </div>
            <button type="submit" class="btn btn-success">Join the fight!</button>
          </form>
        </div>
        </div>


        <!-- Twitter widget-->
        <div class="centerdiv">
          <h2 class="paddingdiv">See the Bun Fight commentary on Twitter</h2>
          <a class="twitter-timeline" style="width: 25% ;height: 25%" data-width="500" data-height="400" data-link-color="#981CEB" href="https://twitter.com/bun_fight_app">Tweets by Bun Fight</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

 
        <!-- About -->
        <div class="box1">
          <div class="centerdiv paddingdiv">
            <h2>About</h2>
            <div>
              <div class="smallpadding">
                <%= image_tag("sophie.jpg", :alt => "Image of Sophie wearing a cardboard robot head", :class => "style_image") %>
                <br>
                <h3>Sophie Ashcroft</h3>
                <p>Bun Fight founder</p>
                <p><em>I'm from Cheshire so for me it's a Bap</em></p>
              </div>
              <div class="smallpadding">
                <%= image_tag("ciar.jpg", :alt => "Image of Ciar with long red hair", :class => "style_image") %>
                <br>
                <h3>Ciar Egan</h3>
                <p>Bun Fight co-creator</p>
                <p><em>I'm from London so for me it's a roll</em></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer--> 
        <div class="centerdiv footer paddingdiv">
          <p>Founded 2016</p>
          <a href="https://twitter.com/bun_fight_app?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bun_fight_app</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <br>
          <a href="https://twitter.com/codefirstgirls?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @codefirstgirls</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
  </body>
</html>
